---
title: Habitat - Demo - Checking the Health of your Service
description: The “Try Habitat” is an interactive, in-browser demo that walks you through how to install, configure, and run packages in Habitat.
step: 6
total_steps: 6
---
h2.page-body--title Checking the Health of your Service

p
  | 

code
  | 

= partial "partials/terminal" do

#success
  = partial "partials/advance_button" do
    | Next - Connect additional services

= partial "partials/previous_button" do
  | Back to previous step
